.root {
  background: rgb(32, 27, 27);
  height: 100%;
  padding-left: 3px;
  svg {
    flex-shrink: 0;
    vertical-align: sub;
  };
}

.sidebarLink {
  color: cyan;
  text-decoration: none;
  padding: 15px;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.4s, color 0.4s;
  &:hover:not(:focus) {
    background: #0b121f;
  }
}

.sidebarLinkActive {
  background: rgba(106, 245, 255, 0.274);
}

.sidebarCollapseButton {
  color: cyan;
  background: rgb(32, 27, 27);
  transition: background 0.4s, color 0.4s;
  &:hover {
    background: orange
  };
  position: ""
}